.featureServices {
  display: flex;
  flex-direction: column;
}
/* .servicesTwo {
  margin-top: -15rem;
  text-align: center;
  width: 30%;
  @media only screen and (max-width: 1000px) {
    width: 100%;
  }
} */

.container {
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 10rem 16.5rem;
  gap: 3rem;
  margin-top: -15rem;
  @media only screen and (max-width: 1000px) {
    flex-direction: column;
    padding: 12rem 15.5rem;
    text-align: center;
    align-items: center;
  }
  @media only screen and (max-width: 600px) {
    padding: 8rem 3.3rem;
    text-align: center;
    align-items: center;
    margin-top: -6rem;
    gap: 2rem;
  }
}

.column {
  text-align: center;
  width: 30%;
  @media only screen and (max-width: 1000px) {
    width: 100%;
  }
  @media only screen and (max-width: 600px) {
  }
}

.logo {
  margin: 0 auto;
  width: 7.2rem;
  height: 7.2rem;
  flex-shrink: 0;
  margin-bottom: 3rem;
}
.servicesTitle {
  color: #000;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem; /* 138.889% */
}
.servicesDescription {
  color: var(--color-black);
  opacity: 0.6;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  @media only screen and (max-width: 1000px) {
    width: 45.7rem;
    margin: 0 auto;
  }
  @media only screen and (max-width: 600px) {
    width: 90%;
    text-align: center;
  }
}
